# Covariance

In [3]:
import pandas as pd
df=pd.read_csv('study_marks.CSV')
df

   Study_Hours  Marks
0          2.9   27.0
1          5.8   61.0
2          4.7   45.0
3          4.0   38.0
4          1.8   19.0
5          1.8    8.0
6          1.3    4.0
7          5.3   50.0
8          4.0   35.0
9          4.5   47.0

In [4]:
df.cov()

             Study_Hours       Marks
Study_Hours     2.481000   28.906667
Marks          28.906667  348.711111

# Correlation

In [5]:
df.corr()

             Study_Hours    Marks
Study_Hours      1.00000  0.98277
Marks            0.98277  1.00000

In [6]:
df.var()

Study_Hours      2.481000
Marks          348.711111
dtype: float64

In [7]:
df=pd.read_csv(temp_icecream_sale)
df

FileNotFoundError: [Errno 2] No such file or directory: 'C:/Users/dhanoj123/Downloads/temp_icecream_sales.csv'

In [18]:
df.cov()

                Temperature  IceCream_Sales
Temperature       36.666667      455.555556
IceCream_Sales   455.555556     5666.666667

In [19]:
df.corr()

                Temperature  IceCream_Sales
Temperature        1.000000        0.999406
IceCream_Sales     0.999406        1.000000

In [20]:
df.var()

Temperature         36.666667
IceCream_Sales    5666.666667
dtype: float64

In [22]:
data={
    "rain":[30,32,29,35,33],
    "sales":[150,130,200,80,100]
}
df=pd.DataFrame(data)
df

   rain  sales
0    30    150
1    32    130
2    29    200
3    35     80
4    33    100

In [23]:
df.cov()

        rain   sales
rain     5.7  -107.0
sales -107.0  2170.0

In [24]:
df.corr()

           rain     sales
rain   1.000000 -0.962092
sales -0.962092  1.000000

In [25]:
df.var()

rain        5.7
sales    2170.0
dtype: float64

In [29]:
data={
    "speed":[40,30,39,45,23],
    "distance":[130,150,100,180,250]
}
df=pd.DataFrame(data)
df

   speed  distance
0     40       130
1     30       150
2     39       100
3     45       180
4     23       250

In [30]:
df.cov()

          speed  distance
speed      77.3    -306.0
distance -306.0    3270.0

In [31]:
df.corr()

             speed  distance
speed     1.000000 -0.608636
distance -0.608636  1.000000

# Normalisation

In [43]:
import pandas as pd
s=pd.Series([1000,2000,3000,5000,9000])
s

0    1000
1    2000
2    3000
3    5000
4    9000
dtype: int64

In [44]:
s.max()

9000

In [45]:
s.min()

1000

In [46]:
s_norm=(s-s.min())/(s.max())
print(s_norm)

0    0.000000
1    0.111111
2    0.222222
3    0.444444
4    0.888889
dtype: float64

# Import Modules

In [50]:
from sklearn.preprocessing import MinMaxScaler
import pandas as pd

In [51]:
s_norm=MinMaxScaler().fit_transform(s.values.reshape(-1,1))
print(s_norm)

[[0.   ]
 [0.125]
 [0.25 ]
 [0.5  ]
 [1.   ]]

In [52]:
df=pd.DataFrame({
    "Temp":[20,25,30,35,40],
    "Humidity":[30,45,60,70,75]})
df

   Temp  Humidity
0    20        30
1    25        45
2    30        60
3    35        70
4    40        75

In [53]:
df.max()

Temp        40
Humidity    75
dtype: int64

In [54]:
df.min()

Temp        20
Humidity    30
dtype: int64

In [55]:
df_norm=(df-df.min())/(df.max())
print(df_norm)

    Temp  Humidity
0  0.000  0.000000
1  0.125  0.200000
2  0.250  0.400000
3  0.375  0.533333
4  0.500  0.600000

In [56]:
norm_data=MinMaxScaler().fit_transform(df)
norm_data

array([[0.        , 0.        ],
       [0.25      , 0.33333333],
       [0.5       , 0.66666667],
       [0.75      , 0.88888889],
       [1.        , 1.        ]])

In [58]:
norm_df=pd.DataFrame(norm_data,columns=df.columns)
norm_df

   Temp  Humidity
0  0.00  0.000000
1  0.25  0.333333
2  0.50  0.666667
3  0.75  0.888889
4  1.00  1.000000

# Standardization:(Z-score)

In [59]:
import pandas as pd
s=pd.Series([1000,2000,3000,5000,9000])
s

0    1000
1    2000
2    3000
3    5000
4    9000
dtype: int64

In [60]:
s.mean()

np.float64(4000.0)

In [61]:
s.std()

3162.2776601683795

In [62]:
Z_Score=(s-s.mean())/s.std()
print(Z_Score)

0   -0.948683
1   -0.632456
2   -0.316228
3    0.316228
4    1.581139
dtype: float64

In [64]:
from sklearn.preprocessing import StandardScaler
import pandas as pd

In [65]:
Z_Score=StandardScaler().fit_transform(s.values.reshape(-1,1))
print(Z_Score)

[[-1.06066017]
 [-0.70710678]
 [-0.35355339]
 [ 0.35355339]
 [ 1.76776695]]

In [66]:
Z_Score=(s-s.mean())/s.std(ddof=0)
print(Z_Score)

0   -1.060660
1   -0.707107
2   -0.353553
3    0.353553
4    1.767767
dtype: float64

In [67]:
df=pd.DataFrame({
    "Temp":[20,25,30,35,40],
    "Humidity":[30,45,60,70,75]})
df

   Temp  Humidity
0    20        30
1    25        45
2    30        60
3    35        70
4    40        75

In [68]:
Z_score=StandardScaler().fit_transform(df)
Z_score_df=pd.DataFrame(Z_score,columns=df.columns)

print(Z_score_df)

       Temp  Humidity
0 -1.414214 -1.570717
1 -0.707107 -0.664534
2  0.000000  0.241649
3  0.707107  0.845771
4  1.414214  1.147832